# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [ ]:
import pandas as pd

In [ ]:
fruits_list = [[30, 21]]
pd.DataFrame(fruits_list, columns = ['Apples', 'Bananas'])

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [ ]:
fruits_dict = {'2017 Sales':[35,21], '2018 Sales':[41,34]}
pd.DataFrame.from_dict(fruits_dict, orient='index', columns=['Apples', 'Bananas'])

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

In [ ]:
for col in fruits_df.columns:
  print('Values of column', col, ':', fruits_df[col].tolist())

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
fruits_df_row_deleted = fruits_df.drop('2017 Sales')
fruits_df_row_deleted

# Mission 5

Delete the first column from the dataframe from mission 2.

In [ ]:
fruits_df_column_deleted = fruits_df.drop(columns='Apples')
fruits_df_column_deleted